body {
  background-color: rgb(152, 230, 205);
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

nav {
	background-color: yellowgreen;
	top: 0%;
	font-size: 1.4em;
	width: 100%;
	height: 25px;
	position: fixed;
	opacity: 0.80;
	z-index: 1;	
  text-align: center;
}

/*Decorations pour les liens vers d'autres pages*/
nav a {
	text-decoration:none;
	color: white;
	padding-left: 2.5%;
	padding-right: 2.5%;	
	transition: 0.3s ease;
	}
	
a:hover {
	text-shadow: 0 0 15px black;
	font-size: 1.1em;
	color: black;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}



.formulaire {
    width: 50%;
    left : 23%;
    position :relative;
    border : 5px solid yellowgreen;
    border-radius: 15px;
    background-color : white;
    margin: 2%;
    padding: 2%;
    text-align: center;
  }
  
  .formulaire input {
    width: 20%;
  }

.table{
  width: 93%;
  position :relative;
  border : 5px solid yellowgreen;
  border-radius: 15px;
  background-color : white;
  margin: 1%;
  padding: 2%;
}

table{
  margin: 0 auto;
  width : 100%;
  border-collapse: collapse;
}
 
a {
  color : black;
  text-decoration : none;
}

td {
  padding : 1%;
  margin : 0;
  border : 1px solid black;
  width : 22%;
}

th {
  width : 10%;
}

tr:hover {
    background-color: yellowgreen;
}

audio {
  width : 100%; /*empêche au player de dépasser*/
}

/*gestion basique petits ecrans*/
@media screen and (max-width: 950px) {

  nav {
    text-align: left;
    border : none;
    padding: 1%;
    height: auto;
    position : relative;
    font-size: medium;
  }

.formulaire {
    width: 100%;
    left : 0;
    border : none;
    padding: 1%;
}

.table{
  width: 100%;
  left : 0;
  border : none;
  padding: 1%;
}

}
