body {
  background-color: rgb(152, 230, 205);
  font-family: 'Courier New', Courier, monospace;
}

nav {
  text-align: left;
  border : 5px solid yellowgreen;
  border-radius: 15px;
  background-color : white;
  padding: 1%;
  position : fixed;
  font-size: large;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color : yellowgreen;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}



.formulaire {
    width: 50%;
    left : 25%;
    position :relative;
    border : 5px solid yellowgreen;
    border-radius: 15px;
    background-color : white;
    margin: 1%;
    padding: 2%;
    text-align: center;
  }
  
  .formulaire input {
    width: 20%;
  }

.table{
  width: 93%;
  position :relative;
  border : 5px solid yellowgreen;
  border-radius: 15px;
  background-color : white;
  margin: 1%;
  padding: 2%;
}

table{
  margin: 0 auto;
  width : 100%;
}

td {
  padding : 1%;
  margin : 0;
  width : 10%;
  border : 1px solid black;
}

tr:hover {
    background-color: yellowgreen;
}

@media screen and (max-width: 950px) {

  nav {
    text-align: left;
    border : none;
    padding: 1%;
    position : relative;
    font-size: small;
    width : 40%;
  }

.formulaire {
    width: 100%;
    left : 0;
    border : none;
    padding: 1%;
}

.table{
  width: 100%;
  left : 0;
  border : none;
  padding: 1%;
}

}